.stack-work/
file-proxy-web/node_modules/
file-proxy-web/*.tsbuildinfo
file-proxy-web/dist
file-proxy-web/vite.config.js
file-proxy-web/vite.config.d.ts
/bin/
/data/
/dist/
/Dockerfile
/patch
*~
stack.yaml.lock
